In [2]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv("MAHARASHTRA_MUMBAI_CITY_MUMBAI_COLABA_18.8978_72.8128_11.98_2017-01-01_2022-08-10_AWS.csv")
df2=pd.read_csv("MAHARASHTRA_MUMBAI_CITY_MUMBAI_COLABA_18.8978_72.8128_11.98_2017-01-01_2022-08-10_AWS2.csv")

C:\Users\iamps\AppData\Local\Temp\ipykernel_18808\3832587508.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv("MAHARASHTRA_MUMBAI_CITY_MUMBAI_COLABA_18.8978_72.8128_11.98_2017-01-01_2022-08-10_AWS2.csv")

In [4]:
df1

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15
0,2017-01-19,06:00:00,0.0,0.0,47.6,9.9,50.2,NaN,35.5,52.0,138.0,1.0,1015.3,1016.6,0.37,NaN
1,2017-01-19,07:00:00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,960.0,961.7,0.00,NaN
2,2017-01-19,08:00:00,5.0,5.0,28.4,28.0,28.5,NaN,17.3,51.0,243.0,1.0,1013.4,1014.8,0.29,NaN
3,2017-01-19,09:00:00,0.0,5.0,27.9,27.9,28.5,NaN,19.4,60.0,290.0,2.0,1012.3,1013.7,1.29,NaN
4,2017-01-19,10:00:00,NaN,5.0,27.5,27.6,27.9,NaN,21.8,71.0,324.0,2.0,1011.6,1013.0,2.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6578,2017-12-31,10:00:00,0.0,0.0,27.8,27.5,28.4,NaN,21.6,69.0,318.0,4.0,1009.4,1010.8,14.00,NaN
6579,2017-12-31,11:00:00,18.0,0.0,1.6,0.0,25.4,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN
6580,2017-12-31,12:00:00,0.0,0.0,25.6,25.6,27.2,29.8,21.9,80.0,338.0,3.0,1008.3,1009.7,16.00,NaN
6581,2017-12-31,13:00:00,0.0,0.0,24.8,24.8,25.6,NaN,21.9,84.0,350.0,3.0,1008.8,1010.2,17.00,NaN
6582,2017-12-31,14:00:00,0.0,0.0,24.4,24.4,24.8,NaN,22.8,91.0,340.0,3.0,1009.5,1010.9,18.00,NaN

In [5]:
df1["date_time"]=df1["DATE"]+" " +df1["TIME(UTC)"]

In [6]:
df1

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15,date_time
0,2017-01-19,06:00:00,0.0,0.0,47.6,9.9,50.2,NaN,35.5,52.0,138.0,1.0,1015.3,1016.6,0.37,NaN,2017-01-19 06:00:00
1,2017-01-19,07:00:00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,960.0,961.7,0.00,NaN,2017-01-19 07:00:00
2,2017-01-19,08:00:00,5.0,5.0,28.4,28.0,28.5,NaN,17.3,51.0,243.0,1.0,1013.4,1014.8,0.29,NaN,2017-01-19 08:00:00
3,2017-01-19,09:00:00,0.0,5.0,27.9,27.9,28.5,NaN,19.4,60.0,290.0,2.0,1012.3,1013.7,1.29,NaN,2017-01-19 09:00:00
4,2017-01-19,10:00:00,NaN,5.0,27.5,27.6,27.9,NaN,21.8,71.0,324.0,2.0,1011.6,1013.0,2.29,NaN,2017-01-19 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6578,2017-12-31,10:00:00,0.0,0.0,27.8,27.5,28.4,NaN,21.6,69.0,318.0,4.0,1009.4,1010.8,14.00,NaN,2017-12-31 10:00:00
6579,2017-12-31,11:00:00,18.0,0.0,1.6,0.0,25.4,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,2017-12-31 11:00:00
6580,2017-12-31,12:00:00,0.0,0.0,25.6,25.6,27.2,29.8,21.9,80.0,338.0,3.0,1008.3,1009.7,16.00,NaN,2017-12-31 12:00:00
6581,2017-12-31,13:00:00,0.0,0.0,24.8,24.8,25.6,NaN,21.9,84.0,350.0,3.0,1008.8,1010.2,17.00,NaN,2017-12-31 13:00:00
6582,2017-12-31,14:00:00,0.0,0.0,24.4,24.4,24.8,NaN,22.8,91.0,340.0,3.0,1009.5,1010.9,18.00,NaN,2017-12-31 14:00:00

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6583 entries, 0 to 6582
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE                 6583 non-null   object
 1   TIME(UTC)            6583 non-null   object
 2   RAIN_HOURLY(mm)      6572 non-null   float64
 3   RAIN_DAILY(mm)       6578 non-null   float64
 4   TEMP(C)              6558 non-null   float64
 5   TEMP_MIN(C)          6564 non-null   float64
 6   TEMP_MAX(C)          6550 non-null   float64
 7   TEMP_MIN_MAX_DAY(C)  489 non-null    float64
 8   DEW_POINT(C)         6480 non-null   float64
 9   RH(%)                6505 non-null   float64
 10  WIND_DIR(deg)        6580 non-null   float64
 11  WIND_SPEED(kt)       6576 non-null   float64
 12  SLP(hPa)             6535 non-null   float64
 13  MSLP(hPa)            6534 non-null   float64
 14  SUNSHINE             6583 non-null   float64
 15  Unnamed: 15          0 non-null      float64
 16  date_time            6583 non-null   object
dtypes: float64(14), object(3)
memory usage: 874.4+ KB

In [8]:
df1["date_time"]=pd.to_datetime(df1["date_time"])

In [9]:
df1

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15,date_time
0,2017-01-19,06:00:00,0.0,0.0,47.6,9.9,50.2,NaN,35.5,52.0,138.0,1.0,1015.3,1016.6,0.37,NaN,2017-01-19 06:00:00
1,2017-01-19,07:00:00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,960.0,961.7,0.00,NaN,2017-01-19 07:00:00
2,2017-01-19,08:00:00,5.0,5.0,28.4,28.0,28.5,NaN,17.3,51.0,243.0,1.0,1013.4,1014.8,0.29,NaN,2017-01-19 08:00:00
3,2017-01-19,09:00:00,0.0,5.0,27.9,27.9,28.5,NaN,19.4,60.0,290.0,2.0,1012.3,1013.7,1.29,NaN,2017-01-19 09:00:00
4,2017-01-19,10:00:00,NaN,5.0,27.5,27.6,27.9,NaN,21.8,71.0,324.0,2.0,1011.6,1013.0,2.29,NaN,2017-01-19 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6578,2017-12-31,10:00:00,0.0,0.0,27.8,27.5,28.4,NaN,21.6,69.0,318.0,4.0,1009.4,1010.8,14.00,NaN,2017-12-31 10:00:00
6579,2017-12-31,11:00:00,18.0,0.0,1.6,0.0,25.4,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN,2017-12-31 11:00:00
6580,2017-12-31,12:00:00,0.0,0.0,25.6,25.6,27.2,29.8,21.9,80.0,338.0,3.0,1008.3,1009.7,16.00,NaN,2017-12-31 12:00:00
6581,2017-12-31,13:00:00,0.0,0.0,24.8,24.8,25.6,NaN,21.9,84.0,350.0,3.0,1008.8,1010.2,17.00,NaN,2017-12-31 13:00:00
6582,2017-12-31,14:00:00,0.0,0.0,24.4,24.4,24.8,NaN,22.8,91.0,340.0,3.0,1009.5,1010.9,18.00,NaN,2017-12-31 14:00:00

In [10]:
df1=df1.set_index("date_time")

In [11]:
df1

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15
date_time,,,,,,,,,,,,,,,,
2017-01-19 06:00:00,2017-01-19,06:00:00,0.0,0.0,47.6,9.9,50.2,NaN,35.5,52.0,138.0,1.0,1015.3,1016.6,0.37,NaN
2017-01-19 07:00:00,2017-01-19,07:00:00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,960.0,961.7,0.00,NaN
2017-01-19 08:00:00,2017-01-19,08:00:00,5.0,5.0,28.4,28.0,28.5,NaN,17.3,51.0,243.0,1.0,1013.4,1014.8,0.29,NaN
2017-01-19 09:00:00,2017-01-19,09:00:00,0.0,5.0,27.9,27.9,28.5,NaN,19.4,60.0,290.0,2.0,1012.3,1013.7,1.29,NaN
2017-01-19 10:00:00,2017-01-19,10:00:00,NaN,5.0,27.5,27.6,27.9,NaN,21.8,71.0,324.0,2.0,1011.6,1013.0,2.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 10:00:00,2017-12-31,10:00:00,0.0,0.0,27.8,27.5,28.4,NaN,21.6,69.0,318.0,4.0,1009.4,1010.8,14.00,NaN
2017-12-31 11:00:00,2017-12-31,11:00:00,18.0,0.0,1.6,0.0,25.4,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN
2017-12-31 12:00:00,2017-12-31,12:00:00,0.0,0.0,25.6,25.6,27.2,29.8,21.9,80.0,338.0,3.0,1008.3,1009.7,16.00,NaN
2017-12-31 13:00:00,2017-12-31,13:00:00,0.0,0.0,24.8,24.8,25.6,NaN,21.9,84.0,350.0,3.0,1008.8,1010.2,17.00,NaN
2017-12-31 14:00:00,2017-12-31,14:00:00,0.0,0.0,24.4,24.4,24.8,NaN,22.8,91.0,340.0,3.0,1009.5,1010.9,18.00,NaN

In [12]:
df1=df1.drop(["DATE","TIME(UTC)"],axis=1)

In [13]:
df1

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15
date_time,,,,,,,,,,,,,,
2017-01-19 06:00:00,0.0,0.0,47.6,9.9,50.2,NaN,35.5,52.0,138.0,1.0,1015.3,1016.6,0.37,NaN
2017-01-19 07:00:00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,960.0,961.7,0.00,NaN
2017-01-19 08:00:00,5.0,5.0,28.4,28.0,28.5,NaN,17.3,51.0,243.0,1.0,1013.4,1014.8,0.29,NaN
2017-01-19 09:00:00,0.0,5.0,27.9,27.9,28.5,NaN,19.4,60.0,290.0,2.0,1012.3,1013.7,1.29,NaN
2017-01-19 10:00:00,NaN,5.0,27.5,27.6,27.9,NaN,21.8,71.0,324.0,2.0,1011.6,1013.0,2.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 10:00:00,0.0,0.0,27.8,27.5,28.4,NaN,21.6,69.0,318.0,4.0,1009.4,1010.8,14.00,NaN
2017-12-31 11:00:00,18.0,0.0,1.6,0.0,25.4,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,NaN
2017-12-31 12:00:00,0.0,0.0,25.6,25.6,27.2,29.8,21.9,80.0,338.0,3.0,1008.3,1009.7,16.00,NaN
2017-12-31 13:00:00,0.0,0.0,24.8,24.8,25.6,NaN,21.9,84.0,350.0,3.0,1008.8,1010.2,17.00,NaN
2017-12-31 14:00:00,0.0,0.0,24.4,24.4,24.8,NaN,22.8,91.0,340.0,3.0,1009.5,1010.9,18.00,NaN

In [14]:
df1=df1.resample("H").mean().interpolate(method="linear", limit_direction="forward")

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8313 entries, 2017-01-19 06:00:00 to 2017-12-31 14:00:00
Freq: H
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RAIN_HOURLY(mm)      8313 non-null   float64
 1   RAIN_DAILY(mm)       8313 non-null   float64
 2   TEMP(C)              8313 non-null   float64
 3   TEMP_MIN(C)          8313 non-null   float64
 4   TEMP_MAX(C)          8313 non-null   float64
 5   TEMP_MIN_MAX_DAY(C)  8307 non-null   float64
 6   DEW_POINT(C)         8313 non-null   float64
 7   RH(%)                8313 non-null   float64
 8   WIND_DIR(deg)        8313 non-null   float64
 9   WIND_SPEED(kt)       8313 non-null   float64
 10  SLP(hPa)             8313 non-null   float64
 11  MSLP(hPa)            8313 non-null   float64
 12  SUNSHINE             8313 non-null   float64
 13  Unnamed: 15          0 non-null      float64
dtypes: float64(14)
memory usage: 974.2 KB

In [16]:
df1

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15
date_time,,,,,,,,,,,,,,
2017-01-19 06:00:00,0.0,0.0,47.6,9.90,50.20,NaN,35.50,52.0,138.0,1.0,1015.30,1016.60,0.37,NaN
2017-01-19 07:00:00,2.5,0.0,38.0,18.95,39.35,NaN,26.40,51.5,0.0,0.0,960.00,961.70,0.00,NaN
2017-01-19 08:00:00,5.0,5.0,28.4,28.00,28.50,NaN,17.30,51.0,243.0,1.0,1013.40,1014.80,0.29,NaN
2017-01-19 09:00:00,0.0,5.0,27.9,27.90,28.50,NaN,19.40,60.0,290.0,2.0,1012.30,1013.70,1.29,NaN
2017-01-19 10:00:00,0.0,5.0,27.5,27.60,27.90,NaN,21.80,71.0,324.0,2.0,1011.60,1013.00,2.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 10:00:00,0.0,0.0,27.8,27.50,28.40,29.708333,21.60,69.0,318.0,4.0,1009.40,1010.80,14.00,NaN
2017-12-31 11:00:00,18.0,0.0,1.6,0.00,25.40,29.754167,21.75,74.5,0.0,0.0,1008.85,1010.25,0.00,NaN
2017-12-31 12:00:00,0.0,0.0,25.6,25.60,27.20,29.800000,21.90,80.0,338.0,3.0,1008.30,1009.70,16.00,NaN
2017-12-31 13:00:00,0.0,0.0,24.8,24.80,25.60,29.800000,21.90,84.0,350.0,3.0,1008.80,1010.20,17.00,NaN
2017-12-31 14:00:00,0.0,0.0,24.4,24.40,24.80,29.800000,22.80,91.0,340.0,3.0,1009.50,1010.90,18.00,NaN

In [17]:
df2["date_time"]=df2["DATE"]+" "+df2["TIME(UTC)"]

In [18]:
df2=df2.set_index("date_time")

In [19]:
df2=df2.drop(["DATE","TIME(UTC)"],axis=1)

In [20]:
df2

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),WIND_MAX/GUST_10m(kt),SLP(hPa),MSLP(hPa),SUNSHINE(HH:MM),Unnamed: 17
date_time,,,,,,,,,,,,,,,,
2018-01-01 5:00:00,0.0,0.0,24.9,23.7,24.9,NaN,20.8,78.0,NaN,129.0,3.0,None,1011.6,1013.0,9.0,NaN
2018-01-01 6:00:00,0.0,0.0,39.4,24.8,26.6,NaN,31.4,64.0,NaN,113.0,3.0,None,1011.0,1012.3,10.0,NaN
2018-01-01 7:00:00,0.0,0.0,27.8,26.6,28.9,NaN,18.3,56.0,NaN,289.0,3.0,None,1009.9,1011.3,11.0,NaN
2018-01-01 8:00:00,0.0,0.0,26.9,26.9,27.8,NaN,19.8,65.0,NaN,337.0,3.0,None,1008.6,1010.0,0.0,NaN
2018-01-01 9:00:00,0.0,0.0,26.8,26.6,27.0,NaN,20.6,69.0,NaN,329.0,3.0,None,1007.6,1009.0,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-10 10:45:00,NaN,1.5,27.5,25.5,28.1,NaN,25.5,89.0,NaN,238.0,2.0,8,994.5,995.8,NaN,NaN
2022-08-10 11:00:00,NaN,2.5,26.7,25.5,28.1,NaN,24.5,88.0,NaN,221.0,3.0,10,994.7,996.0,NaN,NaN
2022-08-10 11:15:00,NaN,3.0,25.6,25.5,28.1,NaN,23.6,89.0,NaN,214.0,3.0,11,994.4,995.7,NaN,NaN
2022-08-10 11:30:00,NaN,3.0,26.3,25.5,28.1,NaN,24.3,89.0,NaN,212.0,3.0,8,994.4,995.7,NaN,NaN
2022-08-10 11:45:00,NaN,3.0,26.7,25.5,28.1,NaN,24.7,89.0,NaN,224.0,3.0,8,994.5,995.8,NaN,NaN

In [21]:
df2=df2.reset_index()

In [22]:
df2["date_time"]=pd.to_datetime(df2["date_time"])

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114158 entries, 0 to 114157
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date_time              114158 non-null  datetime64[ns]
 1   RAIN_HOURLY(mm)        40207 non-null   float64
 2   RAIN_DAILY(mm)         114157 non-null  float64
 3   TEMP(C)                114150 non-null  float64
 4   TEMP_MIN(C)            113930 non-null  float64
 5   TEMP_MAX(C)            114059 non-null  float64
 6   TEMP_MIN_MAX_DAY(C)    3084 non-null    float64
 7   DEW_POINT(C)           114116 non-null  float64
 8   RH(%)                  114113 non-null  float64
 9   RH_MIN_MAX_DAY(%)      0 non-null       float64
 10  WIND_DIR_10m(deg)      112308 non-null  float64
 11  WIND_SPEED_10m(kt)     112308 non-null  float64
 12  WIND_MAX/GUST_10m(kt)  96436 non-null   object
 13  SLP(hPa)               114121 non-null  float64
 14  MSLP(hPa)              114121 non-null  float64
 15  SUNSHINE(HH:MM)        40207 non-null   float64
 16  Unnamed: 17            0 non-null       float64
dtypes: datetime64[ns](1), float64(15), object(1)
memory usage: 14.8+ MB

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8313 entries, 2017-01-19 06:00:00 to 2017-12-31 14:00:00
Freq: H
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RAIN_HOURLY(mm)      8313 non-null   float64
 1   RAIN_DAILY(mm)       8313 non-null   float64
 2   TEMP(C)              8313 non-null   float64
 3   TEMP_MIN(C)          8313 non-null   float64
 4   TEMP_MAX(C)          8313 non-null   float64
 5   TEMP_MIN_MAX_DAY(C)  8307 non-null   float64
 6   DEW_POINT(C)         8313 non-null   float64
 7   RH(%)                8313 non-null   float64
 8   WIND_DIR(deg)        8313 non-null   float64
 9   WIND_SPEED(kt)       8313 non-null   float64
 10  SLP(hPa)             8313 non-null   float64
 11  MSLP(hPa)            8313 non-null   float64
 12  SUNSHINE             8313 non-null   float64
 13  Unnamed: 15          0 non-null      float64
dtypes: float64(14)
memory usage: 974.2 KB

In [25]:
df2.set_index("date_time")

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),WIND_MAX/GUST_10m(kt),SLP(hPa),MSLP(hPa),SUNSHINE(HH:MM),Unnamed: 17
date_time,,,,,,,,,,,,,,,,
2018-01-01 05:00:00,0.0,0.0,24.9,23.7,24.9,NaN,20.8,78.0,NaN,129.0,3.0,None,1011.6,1013.0,9.0,NaN
2018-01-01 06:00:00,0.0,0.0,39.4,24.8,26.6,NaN,31.4,64.0,NaN,113.0,3.0,None,1011.0,1012.3,10.0,NaN
2018-01-01 07:00:00,0.0,0.0,27.8,26.6,28.9,NaN,18.3,56.0,NaN,289.0,3.0,None,1009.9,1011.3,11.0,NaN
2018-01-01 08:00:00,0.0,0.0,26.9,26.9,27.8,NaN,19.8,65.0,NaN,337.0,3.0,None,1008.6,1010.0,0.0,NaN
2018-01-01 09:00:00,0.0,0.0,26.8,26.6,27.0,NaN,20.6,69.0,NaN,329.0,3.0,None,1007.6,1009.0,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-10 10:45:00,NaN,1.5,27.5,25.5,28.1,NaN,25.5,89.0,NaN,238.0,2.0,8,994.5,995.8,NaN,NaN
2022-08-10 11:00:00,NaN,2.5,26.7,25.5,28.1,NaN,24.5,88.0,NaN,221.0,3.0,10,994.7,996.0,NaN,NaN
2022-08-10 11:15:00,NaN,3.0,25.6,25.5,28.1,NaN,23.6,89.0,NaN,214.0,3.0,11,994.4,995.7,NaN,NaN
2022-08-10 11:30:00,NaN,3.0,26.3,25.5,28.1,NaN,24.3,89.0,NaN,212.0,3.0,8,994.4,995.7,NaN,NaN
2022-08-10 11:45:00,NaN,3.0,26.7,25.5,28.1,NaN,24.7,89.0,NaN,224.0,3.0,8,994.5,995.8,NaN,NaN

In [26]:
df2=df2.set_index("date_time")

In [27]:
df2=df2.resample("H").mean().interpolate(method="linear",limit_direction="forward")

C:\Users\iamps\AppData\Local\Temp\ipykernel_18808\1538936290.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2=df2.resample("H").mean().interpolate(method="linear",limit_direction="forward")

In [28]:
df2.tail()

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),SLP(hPa),MSLP(hPa),SUNSHINE(HH:MM),Unnamed: 17
date_time,,,,,,,,,,,,,,,
2022-08-10 07:00:00,0.0,0.000,27.800,26.1,28.1,28.2,25.500,87.50,NaN,222.50,3.00,995.925,997.225,0.0,NaN
2022-08-10 08:00:00,0.0,0.125,26.500,25.8,28.1,28.2,24.100,87.00,NaN,220.50,2.75,995.600,996.900,0.0,NaN
2022-08-10 09:00:00,0.0,1.125,26.150,25.5,28.1,28.2,24.250,89.50,NaN,215.75,3.00,995.200,996.500,0.0,NaN
2022-08-10 10:00:00,0.0,1.500,27.125,25.5,28.1,28.2,25.275,89.75,NaN,227.25,2.75,994.775,996.075,0.0,NaN
2022-08-10 11:00:00,0.0,2.875,26.325,25.5,28.1,28.2,24.275,88.75,NaN,217.75,3.00,994.500,995.800,0.0,NaN

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40375 entries, 2018-01-01 05:00:00 to 2022-08-10 11:00:00
Freq: H
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RAIN_HOURLY(mm)      40375 non-null  float64
 1   RAIN_DAILY(mm)       40375 non-null  float64
 2   TEMP(C)              40375 non-null  float64
 3   TEMP_MIN(C)          40375 non-null  float64
 4   TEMP_MAX(C)          40375 non-null  float64
 5   TEMP_MIN_MAX_DAY(C)  40368 non-null  float64
 6   DEW_POINT(C)         40375 non-null  float64
 7   RH(%)                40375 non-null  float64
 8   RH_MIN_MAX_DAY(%)    0 non-null      float64
 9   WIND_DIR_10m(deg)    40375 non-null  float64
 10  WIND_SPEED_10m(kt)   40375 non-null  float64
 11  SLP(hPa)             40375 non-null  float64
 12  MSLP(hPa)            40375 non-null  float64
 13  SUNSHINE(HH:MM)      40375 non-null  float64
 14  Unnamed: 17          0 non-null      float64
dtypes: float64(15)
memory usage: 4.9 MB

In [30]:
df=pd.concat([df1,df2],axis=0)

In [31]:
df

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15,RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),SUNSHINE(HH:MM),Unnamed: 17
date_time,,,,,,,,,,,,,,,,,,,
2017-01-19 06:00:00,0.0,0.000,47.600,9.90,50.20,NaN,35.500,52.00,138.0,1.0,1015.300,1016.600,0.37,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 07:00:00,2.5,0.000,38.000,18.95,39.35,NaN,26.400,51.50,0.0,0.0,960.000,961.700,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 08:00:00,5.0,5.000,28.400,28.00,28.50,NaN,17.300,51.00,243.0,1.0,1013.400,1014.800,0.29,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 09:00:00,0.0,5.000,27.900,27.90,28.50,NaN,19.400,60.00,290.0,2.0,1012.300,1013.700,1.29,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 10:00:00,0.0,5.000,27.500,27.60,27.90,NaN,21.800,71.00,324.0,2.0,1011.600,1013.000,2.29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-10 07:00:00,0.0,0.000,27.800,26.10,28.10,28.2,25.500,87.50,NaN,NaN,995.925,997.225,NaN,NaN,NaN,222.50,3.00,0.0,NaN
2022-08-10 08:00:00,0.0,0.125,26.500,25.80,28.10,28.2,24.100,87.00,NaN,NaN,995.600,996.900,NaN,NaN,NaN,220.50,2.75,0.0,NaN
2022-08-10 09:00:00,0.0,1.125,26.150,25.50,28.10,28.2,24.250,89.50,NaN,NaN,995.200,996.500,NaN,NaN,NaN,215.75,3.00,0.0,NaN
2022-08-10 10:00:00,0.0,1.500,27.125,25.50,28.10,28.2,25.275,89.75,NaN,NaN,994.775,996.075,NaN,NaN,NaN,227.25,2.75,0.0,NaN
2022-08-10 11:00:00,0.0,2.875,26.325,25.50,28.10,28.2,24.275,88.75,NaN,NaN,994.500,995.800,NaN,NaN,NaN,217.75,3.00,0.0,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48688 entries, 2017-01-19 06:00:00 to 2022-08-10 11:00:00
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RAIN_HOURLY(mm)      48688 non-null  float64
 1   RAIN_DAILY(mm)       48688 non-null  float64
 2   TEMP(C)              48688 non-null  float64
 3   TEMP_MIN(C)          48688 non-null  float64
 4   TEMP_MAX(C)          48688 non-null  float64
 5   TEMP_MIN_MAX_DAY(C)  48675 non-null  float64
 6   DEW_POINT(C)         48688 non-null  float64
 7   RH(%)                48688 non-null  float64
 8   WIND_DIR(deg)        8313 non-null   float64
 9   WIND_SPEED(kt)       8313 non-null   float64
 10  SLP(hPa)             48688 non-null  float64
 11  MSLP(hPa)            48688 non-null  float64
 12  SUNSHINE             8313 non-null   float64
 13  Unnamed: 15          0 non-null      float64
 14  RH_MIN_MAX_DAY(%)    0 non-null      float64
 15  WIND_DIR_10m(deg)    40375 non-null  float64
 16  WIND_SPEED_10m(kt)   40375 non-null  float64
 17  SUNSHINE(HH:MM)      40375 non-null  float64
 18  Unnamed: 17          0 non-null      float64
dtypes: float64(19)
memory usage: 7.4 MB

In [33]:
df=df.resample("H").mean().interpolate(method="linear",limit_direction="forward")

In [34]:
df

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15,RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),SUNSHINE(HH:MM),Unnamed: 17
date_time,,,,,,,,,,,,,,,,,,,
2017-01-19 06:00:00,0.0,0.000,47.600,9.90,50.20,NaN,35.500,52.00,138.0,1.0,1015.300,1016.600,0.37,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 07:00:00,2.5,0.000,38.000,18.95,39.35,NaN,26.400,51.50,0.0,0.0,960.000,961.700,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 08:00:00,5.0,5.000,28.400,28.00,28.50,NaN,17.300,51.00,243.0,1.0,1013.400,1014.800,0.29,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 09:00:00,0.0,5.000,27.900,27.90,28.50,NaN,19.400,60.00,290.0,2.0,1012.300,1013.700,1.29,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-19 10:00:00,0.0,5.000,27.500,27.60,27.90,NaN,21.800,71.00,324.0,2.0,1011.600,1013.000,2.29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-10 07:00:00,0.0,0.000,27.800,26.10,28.10,28.2,25.500,87.50,340.0,3.0,995.925,997.225,18.00,NaN,NaN,222.50,3.00,0.0,NaN
2022-08-10 08:00:00,0.0,0.125,26.500,25.80,28.10,28.2,24.100,87.00,340.0,3.0,995.600,996.900,18.00,NaN,NaN,220.50,2.75,0.0,NaN
2022-08-10 09:00:00,0.0,1.125,26.150,25.50,28.10,28.2,24.250,89.50,340.0,3.0,995.200,996.500,18.00,NaN,NaN,215.75,3.00,0.0,NaN
2022-08-10 10:00:00,0.0,1.500,27.125,25.50,28.10,28.2,25.275,89.75,340.0,3.0,994.775,996.075,18.00,NaN,NaN,227.25,2.75,0.0,NaN
2022-08-10 11:00:00,0.0,2.875,26.325,25.50,28.10,28.2,24.275,88.75,340.0,3.0,994.500,995.800,18.00,NaN,NaN,217.75,3.00,0.0,NaN

In [35]:
df.corr()

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR(deg),WIND_SPEED(kt),SLP(hPa),MSLP(hPa),SUNSHINE,Unnamed: 15,RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),SUNSHINE(HH:MM),Unnamed: 17
RAIN_HOURLY(mm),1.000000,0.062219,-0.016593,-0.001347,-0.018241,-0.005804,0.019615,0.041575,-0.018252,0.077415,-0.037957,-0.037255,-0.035276,NaN,NaN,0.001212,0.100907,0.023021,NaN
RAIN_DAILY(mm),0.062219,1.000000,-0.056155,-0.078778,-0.065747,-0.073107,0.081635,0.173204,0.010998,0.012017,-0.214913,-0.212122,-0.010455,NaN,NaN,-0.045800,0.036169,-0.048683,NaN
TEMP(C),-0.016593,-0.056155,1.000000,0.827065,0.822769,0.508851,0.590387,-0.241036,0.067452,0.003525,-0.227143,-0.231682,0.049126,NaN,NaN,0.069617,0.287239,0.112492,NaN
TEMP_MIN(C),-0.001347,-0.078778,0.827065,1.000000,0.743245,0.601236,0.584472,-0.106369,0.024614,-0.008499,-0.294891,-0.299915,0.001229,NaN,NaN,0.138849,0.262285,0.155122,NaN
TEMP_MAX(C),-0.018241,-0.065747,0.822769,0.743245,1.000000,0.488553,0.452970,-0.250492,0.138681,0.016772,-0.192710,-0.194672,0.131109,NaN,NaN,0.019957,0.200991,0.061234,NaN
TEMP_MIN_MAX_DAY(C),-0.005804,-0.073107,0.508851,0.601236,0.488553,1.000000,0.428162,-0.001155,-0.008221,-0.033542,-0.278600,-0.282703,0.000797,NaN,NaN,0.196985,0.133919,0.067955,NaN
DEW_POINT(C),0.019615,0.081635,0.590387,0.584472,0.452970,0.428162,1.000000,0.612032,0.035376,-0.037952,-0.460398,-0.463529,-0.022713,NaN,NaN,0.074966,0.195370,0.038626,NaN
RH(%),0.041575,0.173204,-0.241036,-0.106369,-0.250492,-0.001155,0.612032,1.000000,-0.008605,-0.035996,-0.328203,-0.327908,-0.065488,NaN,NaN,0.003804,-0.050682,-0.071164,NaN
WIND_DIR(deg),-0.018252,0.010998,0.067452,0.024614,0.138681,-0.008221,0.035376,-0.008605,1.000000,0.212411,-0.070722,-0.073393,0.699894,NaN,NaN,NaN,NaN,NaN,NaN
WIND_SPEED(kt),0.077415,0.012017,0.003525,-0.008499,0.016772,-0.033542,-0.037952,-0.035996,0.212411,1.000000,0.014566,0.014051,0.186751,NaN,NaN,NaN,NaN,NaN,NaN
SLP(hPa),-0.037957,-0.214913,-0.227143,-0.294891,-0.192710,-0.278600,-0.460398,-0.328203,-0.070722,0.014566,1.000000,0.995120,-0.053548,NaN,NaN,-0.109584,-0.149187,0.095781,NaN
MSLP(hPa),-0.037255,-0.212122,-0.231682,-0.299915,-0.194672,-0.282703,-0.463529,-0.327908,-0.073393,0.014051,0.995120,1.000000,-0.056624,NaN,NaN,-0.106103,-0.147156,0.097618,NaN
SUNSHINE,-0.035276,-0.010455,0.049126,0.001229,0.131109,0.000797,-0.022713,-0.065488,0.699894,0.186751,-0.053548,-0.056624,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RH_MIN_MAX_DAY(%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WIND_DIR_10m(deg),0.001212,-0.045800,0.069617,0.138849,0.019957,0.196985,0.074966,0.003804,NaN,NaN,-0.109584,-0.106103,NaN,NaN,NaN,1.000000,0.093105,0.152036,NaN
WIND_SPEED_10m(kt),0.100907,0.036169,0.287239,0.262285,0.200991,0.133919,0.195370,-0.050682,NaN,NaN,-0.149187,-0.147156,NaN,NaN,NaN,0.093105,1.000000,0.278157,NaN
SUNSHINE(HH:MM),0.023021,-0.048683,0.112492,0.155122,0.061234,0.067955,0.038626,-0.071164,NaN,NaN,0.095781,0.097618,NaN,NaN,NaN,0.152036,0.278157,1.000000,NaN
Unnamed: 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df=df.rename(columns={"date_time":"ds","TEMP(C)":"y"})

In [37]:
df=df.drop(["TEMP_MIN(C)","TEMP_MAX(C)","TEMP_MIN_MAX_DAY(C)","WIND_DIR(deg)","WIND_SPEED(kt)","SUNSHINE","Unnamed: 15","RH_MIN_MAX_DAY(%)","WIND_DIR_10m(deg)","WIND_SPEED_10m(kt)","SUNSHINE(HH:MM)","Unnamed: 17"],axis=1)

In [38]:
Pred_features = ['RAIN_HOURLY(mm)', 'RAIN_DAILY(mm)', 'DEW_POINT(C)', 'RH(%)', 'SLP(hPa)', 'MSLP(hPa)']
X = df[Pred_features]
y = df.y

In [39]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
# Finding MAE for Decision Tree Regression
pred = DecisionTreeRegressor(random_state=1)
pred.fit(X,y)
val_mae = mean_absolute_error(, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

NameError: name 'mean_absolute_error' is not defined